.castList {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.castItem {
  padding: 5px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.castImg {
  width: 100%;
  height: 285px;
}

.castWrapper {
  display: block;
  font-size: 14px;
}
.castTitle {
  font-weight: 500;
}
